.p5kaPrizes {
    position: relative;
    width: 100%;
    padding: 0 0 40rem;

    @include bg("/media/5ka/back-5ka-03.jpg", 100% auto, center top);

    @include mob {
        padding-bottom: 110rem;

        @include bg("/media/5ka/back-5ka-03-mob.jpg", 100% auto, center top);
    }

    &._2 {
        padding-top: 100rem;
        padding-bottom: 66rem;

        @include bg("/media/5ka/back-5ka-04.jpg", 100% auto, center top);

        @include mob {
            padding-top: 20rem;
            padding-bottom: 160rem;

            @include bg("/media/5ka/back-5ka-04-mob.jpg", 100% auto, center top);
        }
    }

    &._3 {
        padding-top: 50rem;
        padding-bottom: 50rem;

        @include bg("/media/5ka/back-5ka-05.jpg", 100% auto, center top);

        @include mob {
            margin-top: -80rem;
            padding-top: 0;
            padding-bottom: 320rem;

            @include bg("/media/5ka/back-5ka-05-mob.jpg", 100% auto, center 30rem);
        }
    }

    &__banner {
        width: 100%;
        margin-bottom: 120rem;
        padding: 2rem;
        background: linear-gradient(to top, #ffb08b, #ffefbf);
        border-radius: 48rem;

        @include mob {
            width: calc(100% + 14rem);
            margin-bottom: 140rem;
            margin-left: -7rem;
        }

        &Inner {
            position: relative;
            z-index: 1;
            height: 100%;
            padding: 52rem 48rem 42rem;
            border-radius: inherit;

            @include bg("/media/5ka/banner-2-back.jpg", 100% auto, center top);

            @include mob {
                padding: 24rem 24rem 230rem;

                @include bg("/media/5ka/banner-2-back-mob.jpg", 100% auto, center top);
            }

            &::after {
                position: absolute;
                right: -4rem;
                bottom: -46rem;
                z-index: 2;
                display: none;
                width: 532rem;
                height: 350rem;
                content: "";

                @include bg("/media/5ka/prize-losi-5ka.png", contain, center bottom);

                @include mob {
                    right: auto;
                    bottom: -20rem;
                    left: 50%;
                    width: 350rem;
                    height: 250rem;
                    transform: translate(-50%, 0);
                }
            }
        }

        &Content {
            width: 550rem;

            @include mob {
                align-items: center;
                width: 100%;
            }
        }

        &Title {
            margin-bottom: 17rem;
            color: #c50018;
            font-weight: 600;
            font-size: 32rem;
            text-transform: uppercase;

            @include mob {
                margin-bottom: 10rem;
                font-size: 26rem;
                line-height: 1.2;
                text-align: center;
            }
        }

        &Text {
            margin-bottom: 24rem;
            color: #760509;
            font-weight: 600;
            font-size: 16rem;
            line-height: 1.4;
            text-transform: uppercase;

            @include mob {
                font-size: 17rem;
                text-align: center;
            }
        }

        &Button {
            animation: p5kaStepsButtonPulsation 1s infinite ease-in-out;
            animation-delay: 0.5s;
        }
    }

    &__prizes {
        width: 100%;
    }

    &__decor {
        position: absolute;
        z-index: 2;
        object-fit: contain;
        pointer-events: none;

        &Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__decor._1 {
        right: -266rem;
        bottom: 48rem;
        width: 487rem;
        height: 430rem;

        @include mob {
            right: -155rem;
            bottom: 60rem;
            width: 280rem;
            height: 220rem;
        }
    }

    &__decor._2 {
        top: -70rem;
        left: -80rem;
        width: 290rem;
        height: 290rem;

        @include mob {
            display: none;
            width: 200rem;
            height: 200rem;
        }

        animation: p5kaPrizesDecor2 1.2s infinite ease-in-out;

        @keyframes p5kaPrizesDecor2 {
            0%,
            100% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(-8deg);
            }
        }
    }

    &__decor._3 {
        top: -94rem;
        right: 60rem;
        width: 240rem;
        height: 240rem;
        animation: p5kaPrizeGiftFall 2s infinite ease-in-out;
        will-change: transform;

        @keyframes p5kaPrizeGiftFall {
            0% {
                opacity: 0;
            }

            20% {
                transform: translate(0, 0);
                opacity: 1;
            }

            80% {
                opacity: 1;
            }

            100% {
                transform: translate(0, 170rem);
                opacity: 0;
            }
        }

        @include mob {
            top: -94rem;
            right: 14rem;
            width: 110rem;
            height: 110rem;
            animation: p5kaPrizeGiftFallMob 2s infinite ease-in-out;

            @keyframes p5kaPrizeGiftFallMob {
                0% {
                    opacity: 0;
                }

                20% {
                    transform: translate(0, 0);
                    opacity: 1;
                }

                80% {
                    opacity: 1;
                }

                100% {
                    transform: translate(0, 80rem);
                    opacity: 0;
                }
            }
        }
    }

    &__decor._3 &__decorImage {
        animation: p5kaPrizeGiftFallShake 2s infinite ease-in-out;

        @keyframes p5kaPrizeGiftFallShake {
            0% {
                transform: rotate(-4deg);
            }

            20% {
                transform: rotate(-4deg);
            }

            40% {
                transform: rotate(4deg);
            }

            60% {
                transform: rotate(-3deg);
            }

            80% {
                transform: rotate(2deg);
            }

            100% {
                transform: rotate(-2deg);
            }
        }
    }

    &__decor._4 {
        top: 760rem;
        right: -250rem;
        width: 470rem;
        height: 470rem;

        @include mob {
            top: 410rem;
            right: -120rem;
            width: 230rem;
            height: 230rem;
        }

        animation: p5kaPrizesDecor4 1.2s infinite ease-in-out;

        @keyframes p5kaPrizesDecor4 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, 12rem);
            }
        }
    }

    &__decor._5 {
        top: 180rem;
        left: -50rem;
        width: 262rem;
        height: 262rem;

        @include mob {
            top: -136rem;
            left: -50rem;
            z-index: 6;
            width: 150rem;
            height: 150rem;
        }

        animation: p5kaPrizesDecor5 1.2s infinite ease-in-out;

        @keyframes p5kaPrizesDecor5 {
            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.06);
            }
        }
    }

    &__offer {
        width: 100%;
        margin-top: 105rem;
        padding: 2rem;
        background: linear-gradient(to top, #ffb08b, #ffefbf);
        border-radius: 48rem;

        @include mob {
            position: relative;
            z-index: 5;
            margin-top: 130rem;
        }

        &Inner {
            position: relative;
            z-index: 1;
            align-items: center;
            width: 100%;
            padding: 32rem 98rem;
            overflow: hidden;
            border-radius: inherit;

            @include bg("/media/5ka/offer-back.jpg", 100% auto, center top);

            @include mob {
                padding: 19rem 14rem 264rem;

                @include bg("/media/5ka/offer-back-mob.jpg", 100% auto, center top);
            }

            &::before {
                position: absolute;
                bottom: 0;
                left: 46rem;
                z-index: 2;
                width: 490rem;
                height: 410rem;
                content: "";
                pointer-events: none;

                @include bg("/media/5ka/prize-big-3-5ka.png", contain, left bottom);

                @include mob {
                    left: 10rem;
                    width: 350rem;
                    height: 290rem;
                }
            }
        }

        &Head {
            align-items: center;
            margin-bottom: 42rem;

            @include mob {
                margin-bottom: 16rem;
            }

            &Title {
                margin-bottom: 6rem;
                color: #c50018;
                font-weight: 600;
                font-size: 32rem;
                line-height: 1.2;
                text-align: center;
                text-transform: uppercase;

                @include mob {
                    max-width: 85%;
                    margin-bottom: 16rem;
                    font-size: 26rem;
                }
            }

            &Description {
                color: #760509;
                font-weight: 600;
                font-size: 16rem;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &Content {
            align-items: center;
            width: 474rem;
            margin-left: auto;

            @include mob {
                width: 100%;
                margin-left: 0;
            }
        }

        &Text {
            width: 100%;
            margin-bottom: 32rem;
            padding: 24rem 20rem;
            color: #6c1100;
            font-size: 16rem;
            line-height: 1.3;
            text-align: center;
            background: #fff;
            border-radius: 32rem;

            @include mob {
                padding: 18rem;
                font-size: 17rem;
            }

            & b {
                font-weight: 600;
            }
        }
    }

    &__products {
        position: relative;
        z-index: 1;
        margin-top: 40rem;

        &::after {
            position: absolute;
            top: -36rem;
            left: 50%;
            z-index: 2;
            width: 95%;
            height: 150rem;
            margin-left: -8rem;
            transform: translate(-50%, 0);
            content: "";
            pointer-events: none;

            @include bg("/media/5ka/snow-3.png", 100% auto, center top);

            @include mob {
                @include bg("/media/5ka/snow-3-mob.png", 100% auto, center top);

                top: -20rem;
                width: 93%;
                margin-left: 0;
                transform: translate(-50%, 0) rotateY(180deg);
            }
        }
    }
}

$d: 15rem;
$s: 100rem;

.p5kaPrizes__particle {
    position: absolute;
    width: $d;
    height: $d;
    animation: p5kaPrizes__shoot 2s ease-out infinite;
    animation-name: p5kaPrizes__shoot, p5kaPrizes__fade;
    pointer-events: none;

    @function calculate-angle($i) {
        @if $i >= 0 and $i <= 10 {
            // Плавный переход от -15deg до 15deg
            @return ($i / 10) * 60deg - 30deg - 90deg;
        }

 @else if $i > 10 and $i <= 20 {
            // Плавный переход от 75deg до 105deg
            @return (($i - 10) / 10) * 60deg + 60deg;
        }

 @else {
            @return 0deg; // если $i вне диапазона
        }
    }

    @for $i from 0 to 20 {
        $t: (1 + 0.01 * random(100)) * 1s;
        $snowflakeNum: random(3);
        $sizeAdd: 4rem + random(11) * 1rem; // random(11) → 0..10 → итого 10..20rem
        $finalSize: $d + $sizeAdd;
        $rotateDeg: calculate-angle($i); //random(360);

        &:nth-child(#{$i + 1}) {
            width: $finalSize;
            height: $finalSize;
            background-image: url("/media/5ka/dop/snowflakes-5ka/snow#{$snowflakeNum}.svg");
            background-size: contain;
            transform: 
      // translate(random($s) * 1rem - $s/2, random($s) * 1rem - $s/2)
                rotate(#{$rotateDeg}) translateY((200 + random($s)) * 1rem);
            animation-duration: $t;
            animation-delay: 0.001 * random(100) * $t;
            animation-fill-mode: both;

            --opacity: 0.5 + random(3) / 10;
        }
    }
}

@keyframes p5kaPrizes__shoot {
    0% {
        transform: translate(0, 0);
    }
}

@keyframes p5kaPrizes__fade {
    0% {
        opacity: var(--opacity);
    }

    80% {
        opacity: var(--opacity);
    }

    100% {
        opacity: 0;
    }
}

///////
///

.p5kaPrizes__bannerInner_image {
    position: absolute;
    top: -6rem;
    right: 40rem;
    width: 432rem;
    height: 310rem;
}

.p5kaPrizes__bannerInner_moose_sitting {
    position: absolute;
    width: 161rem;
    height: 217rem;
}

.p5kaPrizes__bannerInner_moose_sitting img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(1) {
    top: 42rem;
    left: 0;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(2) {
    top: 42rem;
    right: 0;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(3) {
    top: 42rem;
    left: 137rem;
    transform: scale(1.43);
}

.p5kaPrizes__inner_glasses {
    position: absolute;
    top: 40rem;
    left: 28rem;
    width: 127rem;
    height: auto;
    transform: scale(0.68);
    mix-blend-mode: plus-lighter;
}

.p5kaPrizes__bannerInner_moose_sitting_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: p5kaPrizes__bannerInner_image 1200ms ease-in-out infinite;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(1) .p5kaPrizes__bannerInner_moose_sitting_layer {
    animation-delay: 0ms;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(2) .p5kaPrizes__bannerInner_moose_sitting_layer {
    animation-delay: 800ms;
}

.p5kaPrizes__bannerInner_moose_sitting:nth-child(3) .p5kaPrizes__bannerInner_moose_sitting_layer {
    animation-delay: 400ms;
}

@keyframes p5kaPrizes__bannerInner_image {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.p5kaPrizes__particle-container {
    position: absolute;
    top: 50%;
    right: 23%;
    display: block;
    pointer-events: none;
}

////
///
///

.p5kaPrizes__decor._1 img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p5kaPrizes__decor_glasses {
    position: absolute;
    top: 120rem;
    left: 71rem;
    width: 127rem;
    height: auto;
    transform: scaleX(-0.8) scaleY(0.7) rotate(24deg);
    mix-blend-mode: plus-lighter;
}
