.indexMap {
    padding: 28rem 0;

    &__inner {
        width: 100%;
        padding: 0 102rem;

        @include mob {
            padding: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 3249rem;

        @include mob {
            height: 2000rem;
            padding: 0 12rem;
        }
    }

    &__top {
        position: sticky;
        position: -webkit-sticky;
        top: 100rem;
        z-index: 3;
        display: flex;
        margin: 20rem auto;
        padding: 6rem;
        background: rgba(#fff, 0.5);
        border: 2rem solid #fff;
        border-radius: 360rem;

        @include blur(12rem);

        @include mob {
            width: 100%;
            margin: 10rem auto;
            padding: 4rem;
        }

        &Section {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 39rem;
            padding: 12rem 16rem;
            color: #e11f26;
            font-weight: 600;
            font-size: 12rem;
            white-space: nowrap;
            text-align: center;
            text-transform: uppercase;
            border-radius: 360rem;
            transition: $trans;

            @include button;

            @include mob {
                flex: 1 auto;
                padding-top: 13rem;
                font-size: 11.5rem;
                line-height: 1.2;
            }

            & + & {
                margin-left: 8rem;
            }

            &._current {
                color: #fff;
                background: #e11f26;
            }
        }
    }

    &__backs {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 48rem;

        @include mob {
            border-radius: 36rem;
        }
    }

    &__back {
        width: 100%;

        &Image {
            display: block;
            width: 100%;
        }
    }

    &__decor {
        position: absolute;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);
        pointer-events: none;

        &._2 .indexMap__decor_poster {
            background-image: url("/media/road/poster1.png");
        }

        &._4 .indexMap__decor_poster {
            background-image: url("/media/road/poster2.png");
        }

        // &._2 .indexMap__decor_title {
        //     padding: 30rem 0 0 13rem;
        // }

        // &._4 .indexMap__decor_title {
        //     padding: 33rem 0 0 12rem;
        // }

        &._2 .indexMap__decor_lights:nth-child(2) {
            background-image: url("/media/road/poster1-light-1.png");
        }

        &._2 .indexMap__decor_lights:nth-child(3) {
            background-image: url("/media/road/poster1-light-2.png");
        }

        &._2 .indexMap__decor_lights:nth-child(4) {
            background-image: url("/media/road/poster1-light-3.png");
        }

        &._4 .indexMap__decor_lights:nth-child(2) {
            background-image: url("/media/road/poster2-light-1.png");
        }

        &._4 .indexMap__decor_lights:nth-child(3) {
            background-image: url("/media/road/poster2-light-2.png");
        }

        &._4 .indexMap__decor_lights:nth-child(4) {
            background-image: url("/media/road/poster2-light-3.png");
        }
    }

    &__decor._1 {
        top: 242rem;
        width: 48rem;
        height: 38rem;
        margin-left: 42rem;

        // @include bg("/media/arrows-red-2.png", contain, center);

        @include mob {
            top: 184rem;
            width: 40rem;
            height: 24rem;
            margin-left: 19rem;
        }
    }

    &__decor._2 {
        top: 878rem;
        display: flex;
        justify-content: center;
        width: 270rem;
        height: 140rem;
        margin-left: -74rem;
        padding: 31rem 0 0 21rem;
        color: #ffecae;
        font-weight: 600;
        font-size: 15rem;
        white-space: nowrap;
        text-transform: uppercase;
        text-shadow: 0 0 4.7rem #ffe7b4;

        // @include bg("/media/sign-lights-1.png", contain, center);

        @include mob {
            top: 577rem;
            width: 180rem;
            height: 84rem;
            margin-left: -52rem;
            padding: 18.5rem 0 0 12rem;
            font-size: 9rem;
        }

        & .indexMap__decor_title {
            @include mob {
                margin-left: -10rem;
                font-size: 9rem;
            }
        }
    }

    &__decor._3 {
        top: 1010rem;
        width: 48rem;
        height: 38rem;
        margin-left: -22rem;

        // @include bg("/media/arrows-red-1.png", contain, center);

        @include mob {
            top: 653rem;
            width: 30rem;
            height: 30rem;
            margin-left: -22rem;
        }
    }

    &__decor._4 {
        top: 1608rem;
        display: flex;
        justify-content: center;
        width: 334rem;
        height: 190rem;
        margin-left: 64rem;
        padding: 34rem 0 0 22rem;
        color: #ffecae;
        font-weight: 600;
        font-size: 14.5rem;
        white-space: nowrap;
        text-transform: uppercase;
        text-shadow: 0 0 4.7rem #ffe7b4;

        // @include bg("/media/sign-lights-2.png", contain, center);

        @include mob {
            top: 1028rem;
            width: 208rem;
            height: 100rem;
            margin-left: 44rem;
            padding: 24rem 0 0 13rem;
            font-size: 9rem;
        }

        & .indexMap__decor_title {
            @include mob {
                margin-top: -3rem;
                margin-left: 2rem;
                font-size: 9rem;
            }
        }
    }

    &__decor._5 {
        top: 1730rem;
        width: 48rem;
        height: 38rem;
        margin-left: 42rem;

        // @include bg("/media/arrows-red-2.png", contain, center);

        @include mob {
            top: 1100rem;
            width: 40rem;
            height: 24rem;
            margin-left: 20rem;
        }
    }

    &__navItem {
        position: absolute;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);
        pointer-events: none;

        &Thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &Image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &Title {
            position: absolute;
            z-index: 3;
            padding: 8rem 16rem;
            background: #fff;
            border-radius: 360rem;
            box-shadow: -2rem 5rem 4rem 0 rgba(#313eac, 0.15);
            transition: $trans;
            pointer-events: visible;

            @include mob {
                padding: 5rem 10rem;
            }

            &._withSupport {
                cursor: pointer;
                user-select: none;
            }

            & span {
                display: block;
                color: #c50018;
                font-weight: 600;
                font-size: 14rem;
                line-height: 1.2;
                text-align: center;
                text-transform: uppercase;
                transition: $trans;

                @include mob {
                    font-size: 10.5rem;
                }
            }

            &._withSupport:hover {
                background: #e11f26;

                & span {
                    color: #fff;
                }
            }
        }

        &Support {
            position: absolute;
            bottom: 100%;
            left: 0;
            z-index: 3;
            width: 184rem;
            margin-bottom: 8rem;
            padding: 20rem;
            color: #5d279e;
            font-size: 14rem;
            line-height: 1.35;
            background: rgba(#fff, 0.7);
            border-radius: 24rem;
            opacity: 0;
            transition: $trans;
            pointer-events: none;
            will-change: opacity;

            @include blur(16rem);

            @include mob {
                display: none;
            }
        }

        &Title:hover &Support {
            opacity: 1;
        }
    }

    &__navItem._1 {
        top: 28rem;
        width: 324rem;
        height: 324rem;
        margin-left: -204rem;

        @include mob {
            top: 52rem;
            width: 202rem;
            height: 202rem;
            margin-left: -126rem;
        }
    }

    &__navItem._1 &__navItemTitle {
        right: -14rem;
        bottom: 36rem;

        @include mob {
            right: -8rem;
            bottom: 18rem;
        }
    }

    &__navItem._2 {
        top: 48rem;
        width: 366rem;
        height: 366rem;
        margin-left: 222rem;

        @include mob {
            top: 66rem;
            width: 224rem;
            height: 224rem;
            margin-left: 116rem;
        }
    }

    &__navItem._2 &__navItemTitle {
        bottom: 16rem;
        left: 90rem;

        @include mob {
            bottom: 10rem;
            left: 52rem;
        }
    }

    &__navItem._3 {
        top: 328rem;
        width: 290rem;
        height: 290rem;
        margin-left: -292rem;

        @include mob {
            top: 236rem;
            width: 180rem;
            height: 180rem;
            margin-left: -130rem;
        }
    }

    &__navItem._3 &__navItemTitle {
        bottom: 40rem;
        left: 47rem;

        @include mob {
            bottom: 25rem;
            left: 23rem;
        }
    }

    &__navItem._4 {
        top: 398rem;
        width: 320rem;
        height: 320rem;
        margin-left: 198rem;

        @include mob {
            top: 280rem;
            width: 196rem;
            height: 196rem;
            margin-left: 110rem;
        }
    }

    &__navItem._4 &__navItemTitle {
        bottom: 24rem;
        left: 100rem;

        @include mob {
            bottom: 10rem;
            left: 42rem;
        }
    }

    &__navItem._5 {
        top: 568rem;
        width: 320rem;
        height: 320rem;
        margin-left: -174rem;

        @include mob {
            top: 392rem;
            width: 196rem;
            height: 196rem;
            margin-left: -120rem;
        }
    }

    &__navItem._5 &__navItemTitle {
        right: 8rem;
        bottom: 29rem;

        @include mob {
            right: 0;
            bottom: 14rem;
        }
    }

    &__navItem._6 {
        top: 588rem;
        width: 350rem;
        height: 350rem;
        margin-left: 324rem;

        @include mob {
            top: 416rem;
            width: 200rem;
            height: 200rem;
            margin-left: 146rem;
        }
    }

    &__navItem._6 &__navItemTitle {
        bottom: 32rem;
        left: 50rem;

        @include mob {
            bottom: 4rem;
            left: 39rem;
        }
    }

    &__navItem._7 {
        top: 887rem;
        width: 370rem;
        height: 370rem;
        margin-left: -204rem;

        @include mob {
            top: 584rem;
            width: 230rem;
            height: 230rem;
            margin-left: -110rem;
        }
    }

    &__navItem._7 &__navItemTitle {
        right: 50rem;
        bottom: 62rem;

        @include mob {
            right: 46rem;
            bottom: 44rem;
        }
    }

    &__navItem._8 {
        top: 878rem;
        width: 352rem;
        height: 352rem;
        margin-left: 287rem;

        @include mob {
            top: 594rem;
            width: 220rem;
            height: 220rem;
            margin-left: 128rem;
        }
    }

    &__navItem._8 &__navItemTitle {
        bottom: 0;
        left: 50rem;

        @include mob {
            left: 37rem;
        }
    }

    &__navItem._9 {
        top: 1154rem;
        width: 374rem;
        height: 374rem;
        margin-left: -276rem;

        @include mob {
            top: 740rem;
            width: 230rem;
            height: 230rem;
            margin-left: -146rem;
        }
    }

    &__navItem._9 &__navItemTitle {
        right: 32rem;
        bottom: 42rem;

        @include mob {
            right: 16rem;
            bottom: 20rem;
        }
    }

    &__navItem._10 {
        top: 1144rem;
        width: 348rem;
        height: 348rem;
        margin-left: 329rem;

        @include mob {
            top: 796rem;
            width: 220rem;
            height: 220rem;
            margin-left: 126rem;
        }
    }

    &__navItem._10 &__navItemTitle {
        right: 110rem;
        bottom: -12rem;

        @include mob {
            right: 66rem;
            bottom: 2rem;
        }
    }

    &__navItem._11 {
        top: 1594rem;
        width: 340rem;
        height: 340rem;
        margin-left: -308rem;

        @include mob {
            top: 1004rem;
            width: 210rem;
            height: 210rem;
            margin-left: -166rem;
        }
    }

    &__navItem._11 &__navItemThumb._2 {
        inset: auto -68rem 50rem auto;
        width: 206rem;
        height: 206rem;

        @include mob {
            right: -40rem;
            bottom: 30rem;
            width: 130rem;
            height: 130rem;
        }
    }

    &__navItem._11 &__navItemTitle {
        right: 48rem;
        bottom: 40rem;

        @include mob {
            right: 40rem;
            bottom: 24rem;
        }
    }

    &__navItem._12 {
        top: 1690rem;
        width: 282rem;
        height: 282rem;
        margin-left: 156rem;

        @include mob {
            top: 1076rem;
            width: 180rem;
            height: 180rem;
            margin-left: 74rem;
        }
    }

    &__navItem._12 &__navItemThumb._2 {
        inset: auto -80rem 20rem auto;
        width: 190rem;
        height: 190rem;

        @include mob {
            right: -46rem;
            width: 116rem;
            height: 116rem;
        }
    }

    &__navItem._12 &__navItemTitle {
        bottom: 38rem;
        left: 43rem;

        @include mob {
            bottom: 20rem;
            left: 62rem;
        }
    }

    &__navItem._13 {
        top: 1844rem;
        width: 282rem;
        height: 282rem;
        margin-left: -150rem;

        @include mob {
            top: 1164rem;
            width: 176rem;
            height: 176rem;
            margin-left: -90rem;
        }
    }

    &__navItem._13 &__navItemThumb._2 {
        top: auto;
        bottom: -43rem;
        left: -70rem;
        width: 210rem;
        height: 210rem;

        @include mob {
            bottom: -24rem;
            left: -32rem;
            width: 130rem;
            height: 130rem;
        }
    }

    &__navItem._13 &__navItemTitle._1 {
        right: 44rem;
        bottom: 24rem;

        @include mob {
            right: 4rem;
            bottom: 14rem;
        }
    }

    &__navItem._13 &__navItemTitle._2 {
        right: 52rem;
        bottom: -12rem;

        @include mob {
            right: 10rem;
        }
    }

    &__navItem._14 {
        top: 1956rem;
        width: 310rem;
        height: 310rem;
        margin-left: 178rem;

        @include mob {
            top: 1220rem;
            width: 196rem;
            height: 196rem;
            margin-left: 70rem;
        }
    }

    &__navItem._14 &__navItemThumb._2 {
        width: 210rem;
        height: 210rem;
        inset: auto -86rem -7rem auto;

        @include mob {
            right: -40rem;
            bottom: 0;
            width: 130rem;
            height: 130rem;
        }
    }

    &__navItem._14 &__navItemTitle {
        bottom: 22rem;
        left: 68rem;

        @include mob {
            bottom: 14rem;
            left: 50rem;
        }
    }

    &__navItem._15 {
        top: 2136rem;
        width: 290rem;
        height: 290rem;
        margin-left: -276rem;

        @include mob {
            top: 1334rem;
            width: 174rem;
            height: 174rem;
            margin-left: -140rem;
        }
    }

    &__navItem._15 &__navItemThumb._2 {
        width: 200rem;
        height: 200rem;
        inset: auto -139rem 40rem auto;

        @include mob {
            right: -86rem;
            bottom: 12rem;
            width: 124rem;
            height: 124rem;
        }
    }

    &__navItem._15 &__navItemTitle {
        right: 40rem;
        bottom: 2rem;

        @include mob {
            right: 2rem;
            bottom: -2rem;
        }
    }

    &__navItem._16 {
        top: 2282rem;
        width: 310rem;
        height: 310rem;
        margin-left: 282rem;

        @include mob {
            top: 1430rem;
            width: 196rem;
            height: 196rem;
            margin-left: 130rem;
        }
    }

    &__navItem._16 &__navItemTitle {
        bottom: 9rem;
        left: 70rem;

        @include mob {
            left: 60rem;
        }
    }

    &__navItem._17 {
        top: 2428rem;
        width: 316rem;
        height: 316rem;
        margin-left: -212rem;

        @include mob {
            top: 1516rem;
            width: 194rem;
            height: 194rem;
            margin-left: -120rem;
        }
    }

    &__navItem._17 &__navItemTitle {
        bottom: 20rem;
        left: 106rem;

        @include mob {
            bottom: 10rem;
            left: 56rem;
        }
    }

    &__navItem._18 {
        top: 2558rem;
        width: 320rem;
        height: 320rem;
        margin-left: 346rem;

        @include mob {
            top: 1604rem;
            width: 200rem;
            height: 200rem;
            margin-left: 136rem;
        }
    }

    &__navItem._18 &__navItemTitle {
        bottom: 17rem;
        left: 86rem;

        @include mob {
            bottom: 14rem;
            left: 56rem;
        }
    }

    &__navItem._19 {
        top: 2710rem;
        width: 320rem;
        height: 320rem;
        margin-left: -280rem;

        @include mob {
            top: 1690rem;
            width: 208rem;
            height: 208rem;
            margin-left: -124rem;
        }
    }

    &__navItem._19 &__navItemTitle {
        right: 130rem;
        bottom: -6rem;

        @include mob {
            right: 86rem;
            bottom: -2rem;
        }
    }

    &__navItem._20 {
        top: 2858rem;
        width: 320rem;
        height: 320rem;
        margin-left: 254rem;

        @include mob {
            top: 1778rem;
            width: 200rem;
            height: 200rem;
            margin-left: 116rem;
        }
    }

    &__navItem._20 &__navItemTitle {
        right: 136rem;
        bottom: 6rem;

        @include mob {
            right: 76rem;
            bottom: 4rem;
        }
    }

    &__navItem._20 &__navItemSupport {
        width: 246rem;
    }

    &__navDecor {
        position: absolute;
        z-index: 10;
        pointer-events: none;

        &Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__navDecor._1 {
        top: 312rem;
        left: 538rem;
        width: 100rem;
        height: 100rem;

        @include mob {
            top: 232rem;
            left: 136rem;
            width: 60rem;
            height: 60rem;
        }
    }

    &__navDecor._2 {
        top: 780rem;
        left: 666rem;
        width: 72rem;
        height: 72rem;

        @include mob {
            top: 520rem;
            left: 208rem;
            width: 44rem;
            height: 44rem;
        }
    }

    &__navDecor._3 {
        top: 1164rem;
        left: 590rem;
        width: 84rem;
        height: 84rem;

        @include mob {
            top: 750rem;
            left: 160rem;
            width: 52rem;
            height: 52rem;
        }
    }

    &__navDecor._4 {
        top: 1524rem;
        left: 536rem;
        width: 72rem;
        height: 72rem;

        @include mob {
            top: 972rem;
            left: 126rem;
            width: 46rem;
            height: 46rem;
        }
    }

    &__navDecor._5 {
        top: 1954rem;
        left: 656rem;
        width: 96rem;
        height: 96rem;

        @include mob {
            top: 1176rem;
            left: 140rem;
            width: 58rem;
            height: 58rem;
        }
    }

    &__navDecor._6 {
        top: 2384rem;
        left: 556rem;
        width: 76rem;
        height: 76rem;

        @include mob {
            top: 1676rem;
            left: 156rem;
            width: 48rem;
            height: 48rem;
        }
    }

    &__navDecor._7 {
        top: 2714rem;
        left: 546rem;
        width: 76rem;
        height: 76rem;

        @include mob {
            top: 1884rem;
            left: 146rem;
            width: 48rem;
            height: 48rem;
        }
    }

    &__navDecor._8 {
        top: 3054rem;
        left: 556rem;
        width: 76rem;
        height: 76rem;

        @include mob {
            display: none;
        }
    }

    &__markets {
        width: 100%;
        margin-top: 80rem;
        padding: 2rem;
        background: linear-gradient(to top, rgb(255 247 174 / 100%), rgb(255 40 40 / 100%));
        border-radius: 64rem;

        @include mob {
            width: calc(100% - 20rem);
            margin: 48rem auto 0;
        }

        &Inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 40rem 48rem 20rem;
            background: rgb(197 0 24 / 100%);
            border-radius: inherit;

            @include mob {
                padding: 36rem 20rem;
            }
        }

        &Title {
            margin-bottom: 48rem;
            color: #fff;
            font-weight: 600;
            font-size: 28rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 26rem;
            }
        }

        &Items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: calc(100% + 20rem);
        }

        &Item {
            width: calc(100% / 6);
            margin-bottom: 20rem;
            padding: 0 10rem;

            @include mob {
                width: 50%;
            }
        }

        &Market {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 116rem;
            overflow: hidden;
            background: #fff;
            border-radius: 16rem;

            @include mob {
                height: 108rem;
            }

            &Image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.indexMap__decor_title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 5rem;
    color: #ffecae;
    font-weight: 600;
    font-size: 15rem;
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 0 0 4.7rem #ffe7b4;
}

.indexMap__decor_lights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    animation: poster_decor_lights 1000ms infinite;
}

.indexMap__decor_lights:nth-child(2) {
    animation-delay: -0ms;
}

.indexMap__decor_lights:nth-child(3) {
    animation-delay: -250ms;
}

.indexMap__decor_lights:nth-child(4) {
    animation-delay: -500ms;
}

@keyframes poster_decor_lights {
    0%,
    100% {
        opacity: 0.3;
        filter: brightness(1);
    }

    19% {
        opacity: 1;
        filter: brightness(1);
    }

    20% {
        opacity: 1;
        filter: brightness(1);
    }

    30% {
        opacity: 1;
        filter: brightness(4);
    }

    60% {
        opacity: 1;
        filter: brightness(1);
    }

    61% {
        opacity: 1;
        filter: brightness(1);
    }
}

.indexMap__navItem::before {
    position: absolute;
    top: 50rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/media/road/location-glow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transition: all 700ms ease-out;
    content: "";
}

.indexMap__navItem:hover::before {
    background-position: 50% 50%;
    background-size: 100% 100%;
    transform: scale(1.5, 1.1);
}

.indexMap__navItem-shine::after,
.indexMap__navItem-shine::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% 50%;
    transform-origin: bottom;
    opacity: 0.5;
    transition: all 700ms ease-out;
    animation: navItem-shine-shifting 3000ms ease-in-out infinite;
    content: "";
}

.indexMap__navItem-shine::after {
    background-image: url("/media/road/location-shine-1.png");
}

.indexMap__navItem-shine::before {
    background-image: url("/media/road/location-shine-2.png");
}

.indexMap__navItem:nth-child(3n + 1) .indexMap__navItem-shine::after {
    animation-delay: 0ms;
}

.indexMap__navItem:nth-child(3n + 2) .indexMap__navItem-shine::after {
    animation-delay: -1000ms;
}

.indexMap__navItem:nth-child(3n + 3) .indexMap__navItem-shine::after {
    animation-delay: -2000ms;
}

.indexMap__navItem:nth-child(3n + 1) .indexMap__navItem-shine::before {
    animation-delay: -1000ms;
}

.indexMap__navItem:nth-child(3n + 2) .indexMap__navItem-shine::before {
    animation-delay: -2000ms;
}

.indexMap__navItem:nth-child(3n + 3) .indexMap__navItem-shine::before {
    animation-delay: -3000ms;
}

.indexMap__navItem:hover .indexMap__navItem-shine::after,
.indexMap__navItem:hover .indexMap__navItem-shine::before {
    top: -5%;
    background-position: 50% 20%;
    background-size: 80% 80%;
    opacity: 1;
}

@keyframes navItem-shine-shifting {
    0% {
        transform: scaleY(1) scaleX(1);
        filter: hue-rotate(0deg);
    }

    50% {
        transform: scaleY(1.2) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
        filter: hue-rotate(360deg);
    }
}

.indexMap__decor_arrow {
    position: absolute;
    width: 22rem;
    height: 20rem;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.left_direction .indexMap__decor_arrow {
    background-image: url("/media/road/arrow-left.png");
}

.right_direction .indexMap__decor_arrow {
    background-image: url("/media/road/arrow-right.png");
}

.left_direction .indexMap__decor_arrow:nth-child(1) {
    top: -1rem;
    right: 0;
}

.left_direction .indexMap__decor_arrow:nth-child(2) {
    top: 10.5rem;
    left: 11.7rem;

    @include mob {
        top: 8rem;
        left: 9rem;
    }
}

.left_direction .indexMap__decor_arrow:nth-child(3) {
    bottom: -4rem;
    left: -2rem;

    @include mob {
        bottom: -14rem;
        left: 0;
    }
}

.right_direction .indexMap__decor_arrow:nth-child(1) {
    top: -1rem;
    left: -2rem;
}

.right_direction .indexMap__decor_arrow:nth-child(2) {
    top: 11.5rem;
    left: 11.5rem;

    @include mob {
        top: 8rem;
        left: 9rem;
    }
}

.right_direction .indexMap__decor_arrow:nth-child(3) {
    right: 0;
    bottom: -6rem;

    @include mob {
        right: -13rem;
        bottom: -6rem;
    }
}

.indexMap__decor_arrow {
    animation: decor_arrow 1000ms infinite;
}

.indexMap__decor_arrow:nth-child(1) {
    animation-delay: 0ms;
}

.indexMap__decor_arrow:nth-child(2) {
    animation-delay: 333ms;
}

.indexMap__decor_arrow:nth-child(3) {
    animation-delay: 666ms;
}

@keyframes decor_arrow {
    0%,
    100%,
    10%,
    90% {
        filter: hue-rotate(0deg) contrast(1) saturate(1) brightness(1);
    }

    50% {
        filter: hue-rotate(15deg) contrast(0.3) saturate(4) brightness(2);
    }
}

.indexMap__decor_poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.indexMap__road_lights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    background-position: center 1%;
    background-size: 22.47%;
    animation: road_lights 2000ms ease-in-out infinite;
}

.indexMap__road_lights:nth-child(1) {
    background-image: url("/media/road/road-lights-1.png");
}

.indexMap__road_lights:nth-child(2) {
    background-image: url("/media/road/road-lights-2.png");
}

.indexMap__road_lights:nth-child(3) {
    background-image: url("/media/road/road-lights-3.png");
}

.indexMap__road_lights:nth-child(4) {
    background-image: url("/media/road/road-lights-4.png");
}

.indexMap__road_lights:nth-child(5) {
    background-image: url("/media/road/road-lights-5.png");
}

.indexMap__road_lights:nth-child(1) {
    animation-delay: 0ms;
}

.indexMap__road_lights:nth-child(2) {
    animation-delay: 400ms;
}

.indexMap__road_lights:nth-child(3) {
    animation-delay: 800ms;
}

.indexMap__road_lights:nth-child(4) {
    animation-delay: 1200ms;
}

.indexMap__road_lights:nth-child(5) {
    animation-delay: 1600ms;
}

@keyframes road_lights {
    0%,
    100% {
        opacity: 0.3;
        filter: brightness(1);
    }

    10% {
        opacity: 1;
        filter: brightness(1);
    }

    15% {
        opacity: 1;
        filter: brightness(1.2);
    }

    70% {
        opacity: 0.5;
        filter: brightness(1);
    }
}
