.faq {
    padding: 0 38rem;

    @include mob {
        padding: 0 9rem;
    }

    &__items {
        margin-bottom: 48rem;
    }

    &__item {
        & + & {
            margin-top: 4rem;

            @include mob {
                margin-top: 2rem;
            }
        }
    }

    &__form {
        width: 610rem;

        @include mob {
            width: 100%;
        }

        &Title {
            margin-bottom: 28rem;
            padding: 12rem 20rem;
            color: #fff;
            font-weight: 600;
            font-size: 20rem;
            line-height: 1.35;
            text-align: center;
            text-transform: uppercase;
            border-radius: 12rem;

            @include bg("/media/inners/title-back.jpg", cover, center);

            @include mob {
                padding: 18rem 16rem;
                font-weight: 600;
                font-size: 18rem;
                line-height: 1.45;
                background: linear-gradient(to top, #be135a, #fb0a00);
                border-radius: 18rem;
            }
        }
    }
}
