@font-face {
    font-weight: 300;
    font-family: Geologica;
    font-style: normal;
    src: url("../fonts/Geologica/Geologica-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Geologica;
    font-style: normal;
    src: url("../fonts/Geologica/Geologica-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Geologica;
    font-style: normal;
    src: url("../fonts/Geologica/Geologica-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Geologica;
    font-style: normal;
    src: url("../fonts/Geologica/Geologica-Bold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Geologica;
    font-style: normal;
    src: url("../fonts/Geologica/Geologica-Black.ttf");
}
