.innerPage {
    position: relative;
    z-index: 1;

    &__topBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
    }

    &__close {
        position: absolute;
        top: 100rem + 16rem;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);
        transition: $trans;

        &:not(._show) {
            opacity: 0;
            pointer-events: none;
        }
    }
}
