.prize {
    position: relative;
    z-index: 1;
    padding: 20rem;

    // overflow: hidden;
    background: #fff;
    border-radius: 16rem;
    -webkit-transform-style: preserve-3d;
    transition: $trans;
    will-change: transform;

    @include mob {
        padding: 16rem;
    }

    &._promoShow {
        transform: rotateY(-180deg);
    }

    &__main {
        will-change: transform;
    }

    &._promoForceShow &__main {
        opacity: 0;
        pointer-events: none;
    }

    &__head {
        position: relative;
        margin-bottom: 18rem;
    }

    &__status {
        padding: 5rem 8rem 4rem;
        color: #fff;
        font-weight: 500;
        font-size: 14rem;
        line-height: 1.2;
        text-transform: uppercase;
        background: #ff49b8;
        border-radius: 360rem;

        &._dobro {
            background: rgb(197 0 24 / 100%) !important;
        }

        @include mob {
            font-weight: 600;
            font-size: 16rem;
        }
    }

    &._ERROR &__status,
    &._ERROR &__countInner {
        background: #fb0a00;
    }

    &._ERROR &__countSupport {
        color: #fb0a00;
    }

    &._SENDING &__status,
    &._SENDING &__countInner {
        background: #b690eb;
    }

    &._SENDING &__countSupport {
        color: #b690eb;
    }

    &._SENT &__status,
    &._SENT &__countInner {
        background: #5d279e;
    }

    &._SENT &__countSupport {
        color: #5d279e;
    }

    &._COMPLETED &__status,
    &._COMPLETED &__countInner {
        background: #ff49b8;
    }

    &._COMPLETED &__countSupport {
        color: #ff49b8;
    }

    &._NEED_CODE &__status,
    &._NEED_CODE &__countInner {
        background: #102cbb;
    }

    &._NEED_CODE &__countSupport {
        color: #102cbb;
    }

    &__count {
        position: absolute;
        top: 0;
        right: 0;

        &Inner {
            width: 48rem;
            height: 48rem;
            margin-bottom: 2rem;
            color: #fff;
            font-weight: 600;
            font-size: 24rem;
            background: #ff49b8;
            border-radius: 50%;

            @include mob {
                width: 54rem;
                height: 54rem;
                font-size: 26rem;
            }
        }

        &Support {
            color: #ff49b8;
            font-weight: 600;
            font-size: 16rem;
        }
    }

    &._NEED_CODE &__previewInner {
        filter: grayscale(1);
    }

    &__preview {
        position: relative;
        margin-bottom: 21rem;

        &Inner {
            position: relative;
            z-index: 1;
            width: 180rem;
            height: 180rem;
            overflow: hidden;
            border-radius: 50%;

            @include bg("/media/inners/prize-back.jpg", cover, center);
        }

        &Image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &Button {
            position: absolute;
            bottom: -7rem;
            left: 50%;
            z-index: 2;
            padding: 13rem 16rem 12rem;
            color: #e11f26;
            font-weight: 600;
            font-size: 14rem;
            white-space: nowrap;
            text-transform: uppercase;
            background: #fbdbff;
            border: 2rem solid #e11f26;
            border-radius: 360rem;
            transform: translate(-50%, 0);

            &._dobro {
                padding: 5rem 12rem;
                color: #fff;
                font-size: 15rem;
                background: #e11f26;
            }

            &._main {
                color: #fff;
                text-transform: uppercase;
                background: #fe431e;
                border-color: transparent;
            }

            & span {
                display: inline-block;
                color: #e11f26;
                font-weight: 600;
                font-size: 14rem;
                line-height: 0.8;
                text-transform: uppercase;
                border-bottom: 1px solid #e11f26;

                @include mob {
                    font-size: 16rem;
                }
            }
        }
    }

    &__name {
        position: relative;
        max-width: 90%;
        text-align: center;
        text-transform: uppercase;

        & span {
            color: #760509;
            font-weight: 600;
            font-size: 16rem;
            line-height: 1.3;
        }

        &Icon {
            display: inline-block;
            width: 18rem;
            height: 18rem;
            margin-right: 10rem;
            transform: translate(0, 5rem);

            @include icon(#760509);
        }

        @include mob {
            max-width: 100%;
            font-size: 18rem;
        }

        &Info {
            display: inline-block;
            margin: 0 -16rem 0 3rem;

            &Icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16rem;
                height: 16rem;
                color: #fff;
                font-weight: 600;
                font-size: 11rem;
                background: #ff49b8;
                border-radius: 50%;
                transform: translate(0, -6rem);
                cursor: pointer;
                transition: $trans;

                &:hover {
                    background: #ffd382;
                }
            }

            &Icon:not(:hover) + &Alert {
                opacity: 0;
                pointer-events: none;
            }

            &Alert {
                position: absolute;
                bottom: 100%;
                left: 50%;
                z-index: 2;
                width: 196rem;
                margin-bottom: 6rem;
                padding: 20rem;
                background: #fff;
                border-radius: 24rem;
                box-shadow: 0 16rem 16rem 0 rgba(#620000, 0.1);
                transform: translate(-50%, 0);
                transition: $trans;

                &Head {
                    position: relative;
                    z-index: 1;
                    height: 140rem;
                    margin-bottom: 10rem;
                    overflow: hidden;
                    border-radius: 16rem;

                    @include bg("/media/inners/prize-back.jpg", cover, center);
                }

                &Image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &Text {
                    color: #5d279e;
                    font-size: 14rem;
                    line-height: 1.3;
                    text-align: center;
                    text-transform: none;
                }
            }
        }
    }

    &._DOWNLOAD &__name {
        cursor: pointer;

        & span {
            border-bottom: 2rem solid #760509;
        }
    }

    &:not(._promoForceShow) &__promo {
        opacity: 0;
        pointer-events: none;
    }

    &__promo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        padding: 24rem 20rem;
        background: #ff512a;
        border-radius: inherit;
        transform: rotateY(-180deg);
        will-change: transform;

        &Title {
            margin-bottom: 16rem;
            color: #fff;
            font-weight: 600;
            font-size: 16rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 18rem;
                line-height: 1.4;
            }
        }

        &Code {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60rem;
            margin-bottom: 16rem;
            padding: 6rem 26rem;
            color: #222221;
            font-weight: 500;
            font-size: 20rem;
            text-align: center;
            text-transform: uppercase;
            background: #fff;
            border-radius: 12rem;

            @include mob {
                height: 54rem;
            }
        }

        &Copy {
            display: flex;
            align-items: center;
            height: 42rem;
            margin-bottom: 16rem;
            padding: 4rem 16rem;
            color: #fff;
            font-weight: 600;
            font-size: 14rem;
            text-transform: uppercase;
            background: #5d279e;
            border-radius: 360rem;

            @include mob {
                height: 36rem;
                padding: 4rem 10rem;
            }

            @include button;

            & i {
                width: 16rem;
                height: 16rem;
                margin-right: 10rem;

                @include icon(#fff);

                @include mob {
                    margin-right: 6rem;
                }
            }
        }

        &Link {
            margin-bottom: 14rem;
            color: #fff;
            font-weight: 500;
            font-size: 14rem;
            border-bottom: 1rem solid rgba(#fff, 0.64);

            @include mob {
                font-size: 15rem;
            }
        }

        &Close {
            margin-top: auto;
            padding: 8rem 12rem;
            color: #fff;
            font-weight: 600;
            font-size: 13rem;
            text-transform: uppercase;
            border: 2rem solid #fff;
            border-radius: 360rem;

            @include button;

            @include mob {
                font-size: 14rem;
            }
        }
    }
}
