.promoterPrize {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 100rem 0;

        @include mob {
            justify-content: flex-start;
            padding: 68rem 0 32rem;
            background: none;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 720rem;
            height: 450rem;
            background: radial-gradient(#fff, #fff3c6 30%, #f8d87f);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            filter: blur(60rem);
            content: "";

            @include mob {
                width: 150rem;
                height: 650rem;
            }
        }

        &Box {
            position: relative;
            z-index: 2;
            width: 600rem;
            padding: 2rem;
            background: linear-gradient(to top, #fff7ae, #ff2828);
            border-radius: 48rem;
            box-shadow: 0 24rem 0 0 rgba(#760509, 0.5);

            @include mob {
                width: calc(100% - 32rem);
                margin: 0 auto;
                padding: 1rem;
                border-radius: 32rem;
                box-shadow: 0 20rem 0 0 rgba(#760509, 0.5);
            }

            &Inner {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                padding: 28rem 36rem 36rem;
                overflow: hidden;
                background: linear-gradient(to top, #be135a, #f22830);
                border-radius: inherit;

                @include mob {
                    padding: 9rem 9rem 32rem;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    content: "";

                    @include bg("/media/inners/popup-back.svg", 100% auto, center top);

                    @include mob {
                        @include bg("/media/inners/popup-back-mob.svg", 100% auto, center top);
                    }
                }

                @include mob {
                    padding: 9rem 9rem 32rem;
                }
            }
        }
    }

    &__content {
        width: 100%;

        &Block {
            width: 100%;
            height: 100%;
        }
    }
}
