.publicPage {
    &__topBar {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        transition: $trans;
    }

    &._index &__topBar,
    &._5ka &__topBar {
        top: 48rem;

        @include mob {
            top: 90rem;
        }
    }

    &._index &__inner,
    &._5ka &__inner {
        padding-top: 48rem;

        @include mob {
            padding-top: 90rem;
        }
    }

    &__inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    &__content {
        position: relative;
        z-index: 1;

        // transform: translate(0, -2100px);
    }
}
