.topBar {
    position: relative;
    transition: $trans;

    &._showMenu {
        background: #c50018;
    }

    &__alert {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 32;
        width: 100%;
        height: 44rem;
        padding: 0 16rem;
        background: #c50018;
        transition: $trans;
        pointer-events: visible;

        @include mob {
            height: 72rem;
            padding: 0 24rem;
        }

        &Inner {
            color: #fff;
            font-weight: 500;
            font-size: 14rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;
        }

        &Link {
            display: inline-block;
            color: #fff;
            font-weight: 500;
            border-bottom: 1px solid #fff;
        }
    }

    &._showMenu &__alert {
        opacity: 0;
        pointer-events: none;
    }

    &__head {
        position: relative;
        z-index: 1;
        justify-content: center;
        height: 96rem;
        transition: $trans;
        pointer-events: visible;

        &._5ka {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: none;
            transform: translate(0, 43rem);
            opacity: 0;
            pointer-events: none;

            @include mob {
                transform: translate(0, 71rem);
            }

            // &::before {
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     z-index: 2;
            //     width: 76rem;
            //     height: 76rem;
            //     transform: translate(-50%, calc(-50% + 9rem));
            //     transition: $trans;
            //     content: "";
            //     will-change: transform;

            //     @include bg("/media/5ka/logo.svg", contain, center);

            //     @include mob {
            //         width: 56rem;
            //         height: 56rem;
            //         transform: translate(-50%, calc(-50%));
            //     }
            // }
        }

        @include mob {
            height: 70rem;
        }

        &Inner {
            flex-direction: row;
            align-items: center;

            @include mob {
                height: 100%;
            }
        }
    }

    &._showMenu &__head::before {
        opacity: 0;
        pointer-events: none;
    }

    &._showMenu &__head._5ka {
        transform: translate(0, 0);
    }

    &._5ka &__head {
        opacity: 0;
        pointer-events: none;

        &._5ka {
            opacity: 1;
            pointer-events: visible;
        }
    }

    &._fix &__head {
        height: 80rem;
        background: #c50018;

        @include mob {
            height: 64rem;
        }
    }

    &._5ka._fix &__head::before {
        transform: translate(-50%, -50%) scale(0.85);
    }

    &__5kaLinks {
        margin-left: 6rem;
        transition: $trans;

        @include mob {
            margin-left: 0;
        }
    }

    &._showMenu &__5kaLinks {
        opacity: 0;
        pointer-events: none;
    }

    &__5kaLink {
        position: relative;
        color: #fff;
        font-weight: 600;
        font-size: 14rem;
        text-transform: uppercase;

        @include mob {
            font-size: 10.5rem;
        }

        & + & {
            margin-left: 36rem;
        }

        &._back {
            padding-left: 53rem;

            @include mob {
                padding-left: 48rem;
            }
        }

        &Arrow {
            position: absolute;
            top: 50%;
            left: 0;
            width: 40rem;
            height: 40rem;
            padding: 8rem;
            background: rgba(#fff, 0.2);
            border-radius: 8rem;
            transform: translate(0, -50%);

            @include mob {
                width: 38rem;
                height: 38rem;
                border-radius: 9rem;
            }
        }
    }

    &__menu {
        position: absolute;
        top: 96rem;
        left: 0;
        z-index: 2;
        width: 100%;
        height: calc(var(--wheight) - 96rem);
        background: #c50018;

        @include mob {
            top: 70rem;
            height: calc(var(--wheight) - 70rem);
        }

        &[data-show] {
            pointer-events: visible;
        }
    }

    &._fix &__menu {
        top: 80rem;
        height: calc(var(--wheight) - 80rem);

        @include mob {
            top: 64rem;
            height: calc(var(--wheight) - 64rem);
        }
    }

    &__stateButton {
        position: relative;
        width: 50rem;
        height: 50rem;
        margin-right: 30rem;

        @include button;

        @include mob {
            width: 40rem;
            height: 40rem;
        }

        &Item {
            position: absolute;
            top: 0;
            left: 0;
            transition: $trans;

            &::before {
                width: 100%;
                height: 4rem;
                background: #fff;
                transition: $trans;
                content: "";

                @include mob {
                    height: 3rem;
                }
            }

            &:first-child {
                transform: translate(0, -10rem);

                @include mob {
                    transform: translate(0, -8rem);
                }
            }

            &:last-child {
                transform: translate(0, 10rem);

                @include mob {
                    transform: translate(0, 8rem);
                }
            }
        }
    }

    &._fix &__stateButton,
    &._showMenu &__stateButton {
        &Item {
            &::before {
                background: #fff;
            }
        }
    }

    &._showMenu &__stateButton {
        &Item {
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__logo {
        width: 144rem;
        height: 46rem;

        @include icon(#fff);

        @include mob {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 124rem;
            height: 40rem;
            transform: translate(-50%, -50%);
        }
    }

    &._showMenu &__logo,
    &._fix &__logo {
        @include icon(#fff);
    }

    &__buttons {
        margin-left: auto;
        transition: $trans;
    }

    &._showMenu &__buttons {
        opacity: 0;
        pointer-events: none;
    }

    &._fix &__button {
        &._red {
            background: #ff3427;
        }
    }

    &__button {
        position: relative;
        z-index: 1;
        height: 52rem;

        & + & {
            margin-left: 8rem;
        }
    }

    &__head._5ka &__button {
        @include mob {
            height: 40rem;
            padding-right: 14rem;
            padding-left: 14rem;
            border-radius: 9rem;
        }

        &Content {
            @include mob {
                font-size: 10rem;
                white-space: nowrap;
            }
        }
    }

    &__close {
        margin-left: auto;
    }
}
